     <!--Footer Menu--> 
    <div class="container-fluid" style="background-color: black; opacity: 50;">
        <div>
            <ul class="nav navbar-nav">
                <li><a class="navbar-brand" href="#">© 2015 VishwasFarm. All rights reserved.</a></li>
                <li><a href="aboutus.html">About</a></li>
                <li><a href="contact_us.html">Contact Us</a></li>
                <li><a href="home.html">FAQ</a></li>
                <li><a href="contact_us.html">Complaints</a></li>
            </ul>
        </div>
    </div>