<!-- View medicine Modal -->

<div class="panel panel-default">
        <div class="panel-heading" style="background-color: #0088CB;color: #fff">
            <div class="row">
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <h4 class="modal-title">Set Appointment/Event</h4>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                    <button type="submit" class="btn btn-success pull-right" data-tooltip="Save" ng-click="ok()">
                        <span class="glyphicon glyphicon-saved"></span>
                    </button>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                    <button type="button" class="btn btn-danger pull-right" data-tooltip="Cancel" ng-click="cancel()">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>         
            </div>
        </div>
        <div class="panel-body">
            <form role="form">
                <div class="form-group">
                    <div class = "input-group">
                        <span class = "input-group-addon">Subject </span>
                        <input id="subject" class="form-control" ng-model="title">
                    </div>
                </div>
                <div class="form-group">
                    <div class = "input-group">
                        <span class = "input-group-addon">Start Time </span>
                        <input id="from" class="form-control" type="date" ng-model="from">
                        <span class = "input-group-addon">End Time </span>
                        <input id="to" class="form-control" type="date" ng-model="to">
                    </div>
                </div>
            </form>
            <div style="padding: 5px;">
                <ul class="nav nav-pills nav-justified">
                    <li><a data-toggle="pill" href="#appointment" style="border-bottom: thick solid blue;">Appointment</a></li>
                    <li><a data-toggle="pill" href="#event">Event</a></li>
                </ul>
                <div class="tab-content">
                    <div id="appointment" class="tab-pane fade in active">
                        <br><input class="form-control" placeholder="Name / Organization" ng-model="appointment_name">
                        <br><input class="form-control" placeholder="Location" ng-model="appointment_location">
                        <br><textarea class="form-control" placeholder="Description" rows="5" ng-model="appointment_description"></textarea>
                    </div>
                    <div id="event" class="tab-pane fade">
                        <br><select class="form-control" ng-model="event_name">
                            <option>Swimming</option>
                            <option>Jogging</option>
                            <option>Running</option>
                            <option>Sleeping</option>
                        </select>
                        <br><input class="form-control" placeholder="Location" ng-model="event_location">
                        <br><textarea class="form-control" placeholder="Description" rows="5" ng-model="event_description"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
